.idea
*.iml
target
output
node_modules
nbproject
mochawesome-reports
reportportal.properties
/embase-e2e/src/test/resources/reportportal.properties
embase-e2e/.classpath
embase-e2e/.project
embase-e2e/.settings/org.eclipse.core.resources.prefs
embase-e2e/build_nmbr.properties
embase-e2e/.settings/org.eclipse.m2e.core.prefs
embase-e2e/.settings/org.eclipse.jdt.core.prefs
embase-e2e/src/test/resources/com/els/embase/uitests/tests/run/
*.prefs
embase-java/.classpath
embase-java/.project
embase-performance/.classpath
embase-performance/.project
*.jpg
embase-e2e/embase-e2e.ipr
embase-e2e/embase-e2e.iws
*.log
